.card-header{
	text-align: center;
	text-transform: uppercase;
	p{
		font-family:'Work Sans', sans-serif;
	}
}
.card{
	border:1px solid #e1e1e1;
	text-align: center;
	p{
		&:first-of-type{
			color:$main_grey;
			font-family:'Work Sans', sans-serif;
			margin-bottom:0;
		}
		&:last-of-type{
			margin-top:5px;
		}
	}
}