.card-header{
	text-align: center;
	text-transform: uppercase;
	font-family:'Work Sans', sans-serif;
	font-weight: bold;
	margin-bottom:20px;
}
.card{
	border:1px solid #e1e1e1;
	text-align: center;
	padding:40px;
	i{
		color:$light_grey;
		@include font-size(40);
		margin-bottom:10px;
	}
	p{
		margin:0;
	}
	.card-inner-header{
		text-transform: uppercase;
		font-weight: bold;
		color:$main_grey;
		font-family:'Work Sans', sans-serif;
		margin-bottom:10px;
	}
}