.cta{
	text-align: center;
	p{
		font-style: italic;
		color:$beige;
		margin-top:0;
	}
	h3{
		color:white;
		text-transform: uppercase;
		@include breakpoint(large){
			width: 60%;
			margin:0 auto;
		}
	}
	.cta-link{
		padding:30px 0 20px 0;
	}
	&.cta-flex{
		.columns{
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-align: left;
			h3{
				width: auto;
				margin:0;
			}
		}
		
	}
}