.gallery{
		display: flex;
		flex-wrap:wrap;
	a{
		position:relative;
		width: 100%;
		@include breakpoint(medium){
			width: 50%;
		}
		@include breakpoint(large){
			width: 25%;
		}
		.overlay{
			display: none;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background: rgba(0,0,0,0.5);
		}
		i{
			display: none;
			position:absolute;
			top:40%;
			left:45%;
			color:white;
			background: rgba(0,0,0,0.8);
			padding:10px;
			z-index:99999;
			@include font-size(24);
		}
		&:hover{
			.overlay{
				display: block;
			}
			i{
				display: block;
			}
		}
	}
}