body{
	font-family:'Work Sans', sans-serif;
}
h1, h2, h3{
	color:$main_grey;
}
h1{
	font-weight:900;
	@include font-size(60);
}
h2{
	font-weight:700;
	@include font-size(40);
}
h3{
	font-weight:900;
	@include font-size(26);
}
p{
	font-family:'Lora', serif;
	color:$text_grey;
}
.italic{
	font-style:italic;
}