body{
	font-family:'Work Sans', sans-serif;
	letter-spacing: 1px;
}
h2, h3{
	color:$main_grey;
	letter-spacing:2px;
	margin:0;
}
h1{
	letter-spacing:2px;
	margin:0;
	color:white;
	font-weight:900;
	@include font-size(30);
	@include breakpoint(large){
		@include font-size(60);
	}
}
h2{
	font-weight:700;
	line-height:1.2;
	@include font-size(24);
	@include breakpoint(large){
		@include font-size(40);
	}
}
h3{
	font-weight:900;
	@include font-size(20);
	@include breakpoint(large){
		@include font-size(26);
	}
}
p{
	font-family:'Lora', serif;
	color:$text_grey;
	.top-footer &, &.form-header{
		font-family:'Work Sans', sans-serif;
	}
}
.italic{
	font-style:italic;
}
.section-padding{
	padding:5% 0;
	@include breakpoint(large){
		padding:3% 0;
	}
}
.item{
	margin-bottom:20px;
}
section{
	&.beige{
		background: $beige;
	}
	&.darkgrey{
		background: $main_grey;
	}
}