.site-header{
	position:relative;
	a{
		color:$light_grey;
		text-decoration: none;
		transition:0.5s;
		&:hover{
			color:$main_grey;
		}
	}
}

.top-nav-wrapper{
	display: none;
	border-bottom:1px solid #e1e1e1;
	padding:10px 0;
	.columns{
		display: flex;
		justify-content:flex-end;
	}
	@include breakpoint(large){
		display: block;
	}
}

.social-nav{
	margin:0 auto;
	@include breakpoint(large){
		margin:0;
	}
	ul{
		margin:0;
		padding:0;
		list-style: none;
		text-align: center;
		@include breakpoint(large){
			text-align: left;
		}
		li{
			margin-left:10px;
			display: inline-block;
			width: 25px;
			text-align: center;
			&:first-of-type{
				margin-left:0;
			}
			&:last-of-type{
				width: auto;
				margin-top:5px;
				@include breakpoint(large){
					margin-top:0;
				}
			}
			&.search{
				a{
					&.active{
						color:$main_grey;
					}
				}
			}
		}
	}
}

.bottom-nav{
	display: flex;
	justify-content:space-between;
	align-items:center;
	margin:20px 0;
}

.site-branding{
	a{
		@include font-size(40);
		color:$main_grey;
		font-weight:bold;
	}
}

#site-navigation{
	display: none;
	@include breakpoint(large){
		display: block;
	}
}

#primary-menu{
	margin:0;
	padding:0;
	li{
		display: inline-block;
		margin-left:20px;
		&.current_page_item{
			a{
				color:$main_grey;
				position:relative;
				padding-bottom:10px;
				&::before{
					content:'';
					position:absolute;
					bottom:0;
					left:35%;
					width: 20px;
					border-bottom:3px solid $secondary_grey;
				}
			}
		}
	}
}

.site-header{
	.toggle-nav{
		@include font-size(24);
		@include breakpoint(large){
			display: none;
		}
	}
}

.flyout-nav{
	background: $main_grey;
	max-width: 400px;
	width: 100%;
	position:fixed;
	z-index:99999;
	top:0;
	right:-400px;
	bottom:0;
	padding:20px;
	text-align: right;
	&.active{
		transition:left 0.5s linear;
		right:0;
	}
	@include breakpoint(large){
		display: none;
	}
	.flyout-close{
		@include font-size(20);
		&:hover{
			color:white;
		}
	}
	#primary-menu{
		text-align: center;
		li{
			display: block;
			margin:0 0 20px 0;
			&:last-of-type{
				margin-bottom:0;
			}
			a{
				color:white;
				text-decoration: none;
				position:relative;
				@include font-size(20);
				&::before{
					content:'';
					position:absolute;
					bottom:-7px;
					left:40%;
					width: 20px;
					transition:0.5s;
					border-bottom:3px solid transparent;
				}
				&:hover{
					&::before{
						border-bottom:3px solid white;
					}
				}
			}
		}
	}
}