.site-footer{
	a{
		color:$light_grey;
		transition:0.5s;
		text-decoration: none;
		&:hover{
			color:$main_grey;
		}
	}
}

.top-footer{
	text-align: center;
	padding:50px 0;
	.blog &, .category &, .search &, .error404 &{
		border-top:1px solid $secondary_grey;
	}
	h2{
		color:$text_grey;
	}
	p{
		margin:10px 0 0 0;
		text-transform: uppercase;
		letter-spacing:2px;
	}
}

.bottom-footer-wrapper{
	border-top:1px solid #e1e1e1;
	padding:10px 0;
	.bottom-footer{
		@include breakpoint(large){
			display: flex;
			justify-content:space-between;
			align-items:center;
		}
		p{
			color:$light_grey;
			margin-top:0;
			text-align: center;
			@include breakpoint(large){
				margin:0;
			}
		}
	}
}