.page-header{
	height:400px;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	@include breakpoint(large){
		height:600px;
	}
	.page-header_content{
		h1{
			&:last-of-type{
				margin-bottom:50px;
			}
		}
		i{
			background: $secondary_grey;
			padding:15px;
			@include font-size(24);
		}
	}
}

.page-header-simple{
	background: $main_grey;
	text-align: center;
	p{
		color:$beige;
		margin:0;
	}
	h1{
		color:white;
		text-transform: uppercase;
	}
	.border{
		border-bottom:2px solid white;
		width: 20px;
		margin:10px auto 0 auto;
	}
}