.page-header{
	height:400px;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items:center;
	@include breakpoint(large){
		height:800px;
		display: block;
	}
	.page-header_content{
		@include breakpoint(large){
			margin-top:100px;
		}
		h1{
			background: $secondary_grey;
			display: inline-block;
			text-transform: uppercase;
			padding:0 20px;
			&:first-of-type{
				margin-bottom:15px;
			}
		}
	}
	.page-header_link{
		margin-top:70px;
	}
}

.page-header-simple{
	background: $main_grey;
	text-align: center;
	p{
		color:$beige;
		margin:0;
	}
	h1{
		color:white;
		text-transform: uppercase;
	}
}

.border{
	border-bottom:2px solid white;
	width: 20px;
	margin:10px auto 0 auto;
}