.single-post-wrapper{
	background: white;	
}

.post{
	text-align: center;
	.entry-header{
		background: $secondary_grey;
		padding:20px;
		.entry-title{
			@include font-size(20);
			text-transform: uppercase;
			a{
				text-decoration: none;
				color:$main_grey;
			}
		}
		p{
			margin:5px 0 0 0;
		}
	}
	.entry-content{
		border:1px solid $secondary_grey;
		border-top:none;
		padding:20px;
	}
}

.single-post{
	.post{
		padding:40px;
		.entry-header{
			background: white;
			padding:0 0 40px 0;
			.entry-title{
				@include font-size(40);
				color:$main_grey;
			}
		}
		.entry-content{
			border:none;
			text-align: left;
			padding:40px 70px 0 70px;
		}
	}
	.entry-footer{
		display: flex;
		align-items:center;
		justify-content: space-between;
		.post-navigation{
			.nav-links{
				display: flex;
				div{
					margin-left:20px;
					&:first-of-type{
						margin-left:0;
					}
				}
				a{
					text-decoration: none;
					color:$secondary_grey;
					border:1px solid $secondary_grey;
					padding:10px;
					transition:0.5s;
					&:hover{
						background: $secondary_grey;
						color:white;
					}
				}
			}
		}
	}
}

.blog{
	.row{
		display: flex;
		flex-wrap:wrap;
	}
}

.entry-footer{
	border-top:1px solid $secondary_grey;
	padding:30px 110px;
	.cat-links{
		text-transform: uppercase;
		color:$secondary_grey;
		a{
			font-family:'Lora', serif;
			color:$text_grey;
			text-decoration: none;
			font-style: italic;
			text-transform: none;
			margin-left:20px;
		}
	}
}

.posts-navigation{
	margin-top:40px;
	.screen-reader-text{
		display: none;
	}
	.nav-links{
		text-align: center;
		a{
			text-decoration: none;
			text-transform: uppercase;
			padding:15px 20px;
			font-weight: bold;
			text-align: center;
			transition:0.5s;
			background: $main_grey;
			color:white;
			border:2px solid transparent;
			&:hover{
				background: white;
				color:$main_grey;
				border:2px solid $main_grey;
			}
		}
	}
}